:root {
    --screen-width: 400px;
    --screen-height: 700px;
}

/*
 * ------------------------------------------------------------
 * General Styling
 * ------------------------------------------------------------
 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

li {
    list-style: none;
}

/*
 * ------------------------------------------------------------
 * Content Layout
 * ------------------------------------------------------------
 */

body {
    display: flex;
    align-items: center;
    justify-content: center;
} 

.page-body {
    height: var(--screen-height);
    width: var(--screen-width);
    border: 1px solid #000000;
} 

.content-body {
    display: flex;
    flex-direction: column;
} 

/*
 * ------------------------------------------------------------
 * Header Styling
 * ------------------------------------------------------------
 */

.header, .sidebar-header {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    color: #ffffff;
    background-color: rgb(141, 5, 146);
} 

.header-logo, .sidebar-logo {
    text-align: center;
    margin: 0.5rem 0;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: calc(0.9 * var(--screen-width));
    height: var(--screen-height);
    border-bottom: 2px solid #000000;
    border-right: 2px solid #000000;
}

.sidebar-menu-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/*
 * ------------------------------------------------------------
 * Dropdown Menu Styling
 * ------------------------------------------------------------
 */

.dropdown-menu-container {
    width: 100%;
    background-color: #ffffff;
}

.menu-information-container {
    display: grid;
    grid: 1fr / 3fr auto;
    height: 30px;
}

.menu-title {
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.menu-visibility-button {
    height: 100%;
    width: 100px;
}

.dropdown-menu {
    position: absolute;
    width: 400px;
    border: 2px solid #000000;
    border-top: none;
}

/* Hides the dropdown list */
.hidden {
    display: none;
}

.dropdown-list {
    display: grid;
    grid-auto-rows: 40px;
    row-gap: 1px;
    background-color: #000000;
}

.dropdown-list-element {
    display: flex;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: #ffffff;
}
.dropdown-list-element:hover {
    background-color: lightgrey;
    cursor: pointer;
}